body
{
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}

h1, h2, h3, h4, h5 
{
    font-weight: bold;
    color: #c21071;
}

ul.navigation-bar
{
    display: inline-block;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: auto;
    font-size: 20px;
}
ul.navigation-bar > li
{
    display: inline;
    margin-right: 1em;
}
ul.navigation-bar > li > a:visited
{
    color: #854E41;
}
